@page
@model IndexModel
@using BedcapacityApp_bap_sebastiaan.Models;
@using BedcapacityApp_bap_sebastiaan.Interfaces.Services;
@using BedcapacityApp_bap_sebastiaan.Services;
@{ ViewData["Title"] = "Overzicht patiënten";
    List<Patient> patients = new JsonDataImporter().getData().patienten; }
<h1 align="center">@ViewData["Title"]</h1>
<hr />
<br>
<table align="center">
    <tr class="table table-primary" align="center">
        <th scope="col">Patiënt ID</th>
        <th scope="col">Naam</th>
        <th scope="col">Geslacht</th>
        <th scope="col">Aantal Dagen</th>
        <th scope="col">Opname Datum</th>
        <th scope="col">Ontslag Datum</th>
    </tr>
    @foreach (var pat in patients)
    {
<tr class="table table-light" align="center">
    <td>
        <p>@pat.pId</p>
    </td>
    <td>
        <p>@pat.patientnaam</p>
    </td>
    <td>
        <p>@pat.geslacht</p>
    </td>
    <td>
        <p>@pat.aantalDagen</p>
    </td>
    <td>
        <p>@pat.opnameDatum.Date.ToShortDateString()</p>
    </td>
    <td>
        <p>@pat.opnameDatum.AddDays(pat.aantalDagen).ToShortDateString()</p>
    </td>
</tr>}
</table>

<br>

<p align="right">** fictieve testpatiënten ter voorbeeld binnen de proof-of-concept</p>